ec2/.terraform
ec2/.terraform.lock.hcl
ec2/terraform.tfstate
ec2/terraform.tfstate.backup
 
 
 
s3/.terraform
s3/.terraform.lock.hcl
s3/terraform.tfstate
s3/terraform.tfstate.backup
 

 
sqs/.terraform
sqs/.terraform.lock.hcl
sqs/terraform.tfstate
sqs/terraform.tfstate.backup
 